body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  min-height: 100vh;
}
.skewBorder {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
}
.skewBorder .box {
  position: relative;
  height: 400px;
  background: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.skewBorder .box:nth-child(1):before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  background: linear-gradient(315deg, #ff0057, #e64a19);
  transform: skew(1deg, 1deg);
  z-index: -1;
}
.skewBorder .box:nth-child(2):before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  background: linear-gradient(315deg, #89ff00, #00bcd4);
  transform: skew(1deg, 1deg);
  z-index: -1;
}
.skewBorder .box:nth-child(3):before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  background: linear-gradient(315deg, #e91e63, #5d02ff);
  transform: skew(1deg, 1deg);
  z-index: -1;
}
.skewBorder .box:nth-child(4):before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  background: linear-gradient(315deg, #ff0000, #ffc107);
  transform: skew(1deg, 1deg);
  z-index: -1;
}
.skewBorder .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.skewBorder .box .content {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}
.skewBorder .box .content h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}
.skewBorder .box:hover .content h2 {
  top: -140px;
}
.skewBorder .box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.skewBorder .box .content p {
  display: block;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: auto;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 16px;
}
.skewBorder .box .content a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.skewBorder .box .content a:hover {
  color: #000;
  background: #fff;
}
.skewBorder .box:hover .content a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}