body {
	padding: 0;
	margin: 0;
}
.container {
	text-align: center;
	margin-top: 360px;
}
.btn {
	position: relative;
	border: 1px solid #1e90ff;
	text-transform: capitalize;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
	overflow: hidden;
}
.btn1,
.btn2 {
	color: #1e90ff;
}
.btn3,
.btn4 {
	color: #fff;
}
.btn1:hover,
.btn2:hover {
	color: #fff;
}
.btn3:hover,
.btn4:hover {
	color: #1e90ff;
}
.btn:before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	background: #1e90ff;
	transition: 0.8s;
	z-index: -1;
}
.btn1:before,
.btn2:before {
	height: 0;
}
.btn3:before,
.btn4:before {
	height: 180%;
}
.btn1:before,
.btn3:before {
	top: 0;
	border-radius: 0 0 50% 50%;
}
.btn2:before,
.btn4:before {
	bottom: 0;
	border-radius: 50% 50% 0 0;
}
.btn1:hover::before,
.btn2:hover::before {
	height: 180%;
	color: #fff;
}
.btn3:hover::before,
.btn4:hover::before {
	height: 0%;
	color: #fff;
}
